{{#if validationErrors}}
    <div id="registerError" class="card-panel red lighten-2">
        <ul>
          {{#each error in validationErrors}}
              <li>{{error}}</li>
          {{/each}}
        </ul>
    </div>
{{/if}}

<form>
  {{#if user.photo}}
      <div class="row">
          <div class="large-12 columns">
              <label>Replace Photo</label>
            {{file-upload name="photo" uploadCompleted="uploadCompleted"}}
          </div>

          <div class="large-12 columns">
              <img src="{{user.photoUrl}}" class="profilePhoto" />
          </div>
      </div>
  {{else}}
      <div class="row">
          <div class="large-12 columns">
              <label>Upload new Photo</label>
            {{file-upload name="photo" uploadCompleted="uploadCompleted"}}
          </div>
      </div>
  {{/if}}


    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="person_pin" inputValue=user.fullName inputTitle="Full Name"}}
    </div>

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="work" inputValue=user.company inputTitle="Company Name"}}
    </div>

    <div class="row">
        {{material-design/md-input classNames="input-field col s12" icon="contact_phone" inputValue=user.phone inputTitle="Phone Number"}}
    </div>

    <div class="row">
      {{material-design/md-textarea classNames="input-field col s12" icon="comment" inputValue=user.bio inputTitle="Your Biography. Please include 5-6 sentences"}}
    </div>

    <div class="row">
      {{material-design/md-textarea classNames="input-field col s12" icon="live_help" inputValue=user.dietaryRequirements inputTitle="Dietary requirements"}}
    </div>

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="my_location" inputValue=user.countryOfResidence inputTitle="Country of residence"}}
    </div>

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="info_outline" inputValue=user.yearOfBirth inputTitle="Year of birth"}}
    </div>

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="info_outline" inputValue=user.twitter inputTitle="Twitter (handle)"}}
    </div>

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="info_outline" inputValue=user.github inputTitle="Your GitHub username"}}
    </div>

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="info_outline" inputValue=user.linkedin inputTitle="Your LinkedIn URL"}}
    </div>

    <div class="row">
        <div class="col s12">
          {{input id="dinnerCheckbox" type="checkbox" checked=user.attendingDinner class="filled-in"}}
            <label for="dinnerCheckbox">Attending the Conference dinner?</label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <a {{action "verifyAccountInput"}} class="waves-effect btn-radius btn-flat">{{buttonLabel}}</a>
        </div>
    </div>

</form>
