<article class="topic">
  <h2>{{title}}</h2>

  <p>
    <span class="label secondary">{{talkType}}</span>
    <span class="author">by {{talkSuggestedBy}}</span>
  </p>

  <h3>Abstract</h3>
  <p>{{markdown talkAbstract}}</p>

  {{#if outline}}
    <h3>Outline</h3>
    <p>{{markdown outline}}</p>
  {{/if}}

  {{#if topics}}
    <h3>Topics</h3>
    <p>{{topics}}</p>
  {{/if}}

  {{#link-to "talks" class="small button"}}
    &#8592; Back to talks
  {{/link-to}}
</article>
