<article class="topic">
  <h2>{{title}}</h2>

  <p>
    <span class="label secondary">{{talkType}}</span>
    <span class="author">by {{talkSuggestedBy}}</span>
  </p>

    <div class="row">
        <div class="small-12 large-8 columns">
            {{#if video}}
                <div>{{markdown video}}</div>
            {{/if}}

          <h3>Abstract</h3>
          <p>{{markdown talkAbstract}}</p>

          {{#if outline}}
            <h3>Outline</h3>
            <p>{{markdown outline}}</p>
          {{/if}}

          {{#if talkIntendedAudience}}
            <h3>Who is this talk for?</h3>
            <p>{{talkIntendedAudience}}</p>
          {{/if}}

            {{#if participantRequirements}}
                <h3>Preparation</h3>
                <p>{{participantRequirements}}</p>
            {{/if}}

          {{#if topics}}
            <h3>Topics</h3>
            <p>{{topics}}</p>
          {{/if}}
        </div>
        <div class="small-12 large-4 columns greyBox">
            {{#if talkByPhoto}}
                <div class="text-center">
                    <img {{bind-attr src=photoUrl}} class="talkPhoto" />
                </div>
            {{/if}}
            <h2>{{talkSuggestedBy}}</h2>
            <p>{{markdown talkByBio}}</p>
            <div class="talkSoMe">
                {{#if twitterUrl}}
                    <a {{bind-attr href=twitterUrl}}><img src="/images/twitter_blue.png" /></a>
                {{/if}}
                {{#if linkedInUrl}}
                    <a {{bind-attr href=linkedInUrl}}><img src="/images/linkedin.png" /></a>
                {{/if}}
                {{#if githubUrl}}
                    <a {{bind-attr href=githubUrl}}><img src="/images/github.png" /></a>
                {{/if}}
            </div>
        </div>
    </div>
  {{#link-to "talks" class="small button"}}
    &#8592; Back to talks
  {{/link-to}}
</article>
