<div class="container" style="max-width: 600px;">
  {{#if model.order.id}}
          <div class="row">
              <div class="s12 m6 col left-align">
                  <img src="/images/hs_logo.png"/>
              </div>
              <div class="s12 m6 col right-align">
                  <img src="/images/logo_black.png"/>
              </div>
          </div>
          <div class="right-align">
              <p class="right-align" style="text-align: right;">Haagen Software AS<br/>
                  VAT no: 998 392 578 MVA<br/>
                  Munkerudtunet 10<br/>
                  N-1164 Oslo<br/>
                  Norway
              </p>
          </div>
          <div class="left-align">
              <p style="font-weight: 900;">
                {{model.order.companyName}}<br/>
                {{model.order.country}}<br/>
              </p>
          </div>
          <div class="text-center" style="text-transform: uppercase; margin-top: 45px;">
              <p>Ember Fest Ticket Receipt, Order Number {{id}}</p>
          </div>

          <table class="striped" style="width: 100%;">
              <tr>
                  <th>Item</th>
                  <th style="width: 150px;">Ticket Holder</th>
                  <th style="width: 70px; text-align: right;">Price</th>
              </tr>

            {{#each model.order.tickets as |ticket|}}
                <tr>
                    <td>{{ticket.ticketType.name}}</td>
                    <td>{{ticket.ticketHolder}}</td>
                    <td style="text-align: right;">Euro {{ticket.ticketType.price}}</td>
                </tr>
            {{/each}}

              <tr>
                  <td colspan="3" style="text-align: right; font-weight: 900;">
                      Subtotal: Euro {{model.order.subtotal}}</td>
              </tr>

              <tr>
                  <td colspan="3" style="text-align: right; font-weight: 900;">Coupon
                      Discount: Euro {{model.order.couponDiscount}}</td>
              </tr>

              <tr>
                  <td colspan="3" style="text-align: right; font-weight: 900;">Total
                      Amount: Euro {{model.order.totalAmount}}</td>
              </tr>
          </table>
  {{else}}
      <h2>There is no valid order with that Ordernumber</h2>
      <ul>
          <li>Either the ordernumber is invalid</li>
          <li>Or the order is not associated with your account</li>
      </ul>

      <p>Please contact the organizers if you are unable to view your Order!</p>
  {{/if}}
</div>