<div class="container">
    <h2>Call for Speakers!</h2>
    <p>
        Suggested talks are listed here in order to give you an idea of the types of
        talks that might be present at Ember Fest. See a talk you like? Vote it up!
    </p>

  {{#unless model.talks.length}}
      <p><em>There are currently no registered talks for Ember Fest 2016! Be the first to submit a talk!</em></p>
  {{/unless}}

  {{#if session.isLoggedIn}}
    {{#link-to "registerTalk" class="waves-effect btn-radius btn-flat"}}Submit proposal{{/link-to}}
  {{else}}
      <a {{action "doLogIn"}} class="waves-effect btn-radius btn-flat">Sign in to submit proposal</a>
  {{/if}}

    <table class="striped">
        <thead>
        <tr>
            <th width="150">Type</th>
            <th width="150">Title</th>
            <th width="150">Presenter</th>
            <th>Abstract</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.talks as |talk|}}
            <tr>
                <td><span class="label secondary">{{talk.talkType}}</span></td>
                <td>{{#link-to "talks.talk" talk.id}}{{talk.title}}{{/link-to}}</td>
                <td>{{talk.talkSuggestedBy}}</td>
                <td>{{talk.talkShortAbstract}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    <h3>Submit a Talk!</h3>
    <p>
        Do you have something you want to share with the Ember.js community?
        Do you have a cool idea, have you worked on a cool project, or have you
        learnt something awesome lately? Share your experiences with the rest of
        the European Ember.js community at Ember Fest 2016! All speakers get free
        admission to the Conference, and the Conference Dinner.
    </p>

    <p>
        This year, talks will be 45 minutes long, but we will organize a pre-conference training session
        the day before the conference start, on wednesday October 26th.
    </p>

    <p>
        By registering your talk, your abstract for a presentation will be added to the list of suggestions
        for this year's conference. You ma change the content of your abstract at any time during the period
        that the Call for Speakers is open. Other participants will be able to see your suggestion as soon
        as it is registered.
    </p>

    <p>
        The talk proposals will be reviewed by a group of smart and friendly people,
        who will help you create the best proposal you can. You will receive feedback
        from reviewers by email.
    </p>

    <h3>Deadline</h3>
    <p>Call for Papers will end on July 30th. However, as we are accepting talks continuously,
        all spots might be taken before the final deadline, so get your talk submitted as early
        as possible!</p>

    <h3>Topics</h3>
    <ul>
        <li>Ember.js Basics</li>
        <li>Thrid party frameworks</li>
        <li>Ember CLI</li>
        <li>Real world experience reports and project reports</li>
        <li>Ember.js Persistence frameworks (Ember Data, EPF, Orbit, etc.)</li>
        <li>Security</li>
        <li>Build Tools</li>
        <li>Backend strategies</li>
    </ul>

    <h3>Talk Types</h3>

    <p>
        This year, talks will be 45 minutes long
    </p>

  {{#if session.isLoggedIn}}
    {{#link-to "registerTalk" class="waves-effect btn-radius btn-flat"}}Submit proposal{{/link-to}}
  {{else}}
      <a {{action "doLogIn"}} class="waves-effect btn-radius btn-flat">Sign in with your email to submit proposal</a>
  {{/if}}
</div>