<div class="container">
    <div class="row">
      {{markdown-to-html markdown=model.ticketPage.content}}

      {{#if model.ticketTypes.length}}
          <div class="row">
              <div class="col s12 m8">
                  <h2>Tickets</h2>

                  <table class="striped">
                      <thead>
                      <tr>
                          <th>Ticket Type</th>
                          <th width="75">Price</th>
                          <th width="170">&nbsp;</th>
                      </tr>
                      </thead>
                      <tbody>
                      {{#each sortedTicketTypes as |ticketType|}}
                          <tr>
                              <td>
                                  <p class="ticket-title">{{ticketType.name}}</p>
                                  <p class="ticket-description">{{ticketType.description}}</p>
                              </td>
                              <td>Euro {{ticketType.price}}</td>
                            {{#if ticketType.saleStarted}}
                              {{#if ticketType.ticketsAvailable}}
                                {{#if session.isLoggedIn}}
                                    <td><button class="waves-effect btn-radius btn-flat" {{action "addTicketTypeToBasket" ticketType}}>Add to Cart</button></td>
                                {{else}}
                                    <td><p>You need to <span {{action "doLogIn"}} >sign in</span> to purchase tickets!</p></td>
                                {{/if}}
                              {{else}}
                                  <td><button class="waves-effect btn-radius btn-flat disabled">Sold Out</button></td>
                              {{/if}}
                            {{else}}
                                <td>Tickets are available from <br />{{moment-format ticketType.availableFrom "MMMM Do YYYY"}}</td>
                            {{/if}}

                          </tr>
                      {{/each}}
                      </tbody>
                  </table>
              </div>

              <div class="col s12 m4">
                  <h2>Shopping Cart</h2>

                  <table style="width: 100%;">
                      <thead>
                      <tr>
                          <th>Ticket Name</th>
                          <th width="100">Action</th>
                      </tr>
                      </thead>


                      <tbody>

                      {{#each basket as |basketTicket|}}
                          <tr>
                              <td>{{basketTicket.name}}</td>
                              <td><button class="waves-effect btn-radius btn-white btn-fill" {{action "removeTicketFromBasket" basketTicket}}>Remove</button></td>
                          </tr>
                      {{/each}}

                      <tr>
                          <td>{{input type="text" class="tiny" value=couponCode placeholder="Your Coupon Code"}}</td>
                          <td>
                              <button class="waves-effect btn-radius btn-white btn-fill" {{action "addCouponCode"}}>Apply</button>
                          </td>
                      </tr>

                      {{#if couponCode}}
                          <tr>
                              <td>Coupon Discount Amount: </td>
                              <td>Euro {{ticketDiscountAmount}}</td>
                          </tr>
                      {{/if}}

                      <tr><td colspan="2">
                        {{#if numTickets}}
                            <div class="text-right" style="width: 100%">
                              {{stripe-button
                                  stripeEmail=session.model.userId
                                  amountToPay=ticketSubtotal
                                  paymentLabel=paymentLabel
                                  orderNumber=orderNumber
                                  paymentSuccess="paymentSuccess"
                                  paymentFailed="paymentFailed"}}
                            </div>
                        {{/if}}
                      </td></tr>
                      </tbody>
                  </table>
              </div>
          </div>
      {{else}}
          <p class="talkRow">We are working hard on finalizing the tickets!</p>
      {{/if}}
    </div>
</div>

