{{#if linkRoute}}
    {{#link-to linkRoute}}
        {{#if imgSrc}}
            <img {{bind-attr src=imgSrc}} class="silverSponsors-img" {{bind-attr data-dropdown=popoverId}} data-options="is_hover:true"/>
        {{else}}
            <span class="button">{{buttonText}}</span>
        {{/if}}

    {{/link-to}}
{{else}}
    <a {{bind-attr href=hrefSrc}}>
        <img {{bind-attr src=imgSrc}} {{bind-attr data-dropdown=popoverId}} data-options="is_hover:true" class="silverSponsors-img" />
    </a>
{{/if}}

<div {{bind-attr id=popoverId}} data-dropdown-content class="f-dropdown content">
    <p>{{popoverContent}}</p>

    <p>
        {{#if linkRoute}}
            {{#link-to linkRoute}}Read More{{/link-to}}
        {{else}}
            <a {{bind-attr href=hrefSrc}}>Read More</a>
        {{/if}}
    </p>

</div>