{{#if isLoggedIn}}
    {{#if talk.talkByLoggedInUser}}
        <h2>Register your talk for Ember Fest 2014!</h2>
        {{#if validationErrors}}
            <div data-alert class="alert-box warning radius">
                <ul>
                    {{#each error in validationErrors}}
                        <li>{{error}}</li>
                    {{/each}}
                </ul>
                <a href="#" class="close">&times;</a>
            </div>
        {{/if}}

        <div class="row registerTalkDiv">
            <div class="large-12 columns">
                <label>Title</label>
                {{input value=talk.title type="text" placeholder="Your talk title"}}
            </div>

            <div class="large-12 columns">
                <label>Abstract</label>
                {{textarea value=talk.talkAbstract class="inputTextarea" placeholder="What is your talk about?"}}
            </div>

            <div class="large-12 columns">
                <label>Outline</label>
                {{textarea value=talk.outline class="inputTextarea" placeholder="Briefly outline the contents of your talk (required for workshops)"}}
            </div>

            <div class="large-12 columns">
                <label>Intended Audience</label>
                {{textarea value=talk.talkIntendedAudience class="inputTextarea" placeholder="Briefly describe the intended audience for your talk"}}
            </div>

            <div class="large-12 columns">
                <label>Talk type</label>
                {{input value=talk.talkType type="text" placeholder="What type of talk? 15 or 35 min presentation ? Half or full day workshop?"}}
            </div>

            <div class="large-12 columns">
                <label>Participant requirements</label>
                {{textarea value=talk.participantRequirements class="inputTextarea" placeholder="What (if anything) do your participants need to bring? (most valid for workshops)"}}
            </div>

            <div class="large-12 columns">
                <label>Topics</label>
                {{input value=talk.topics type="text" placeholder="Which topics will your talk cover?"}}
            </div>

            <div class="large-12 columns">
                <a {{action "verifyTalkInput"}} class="button small">Register talk</a>
            </div>
        </div>
    {{else}}
        <h2>You cannot edit a talk you didn't submit!</h2>
        <ul>
            <li>Try to log in using the account that submitted the talk</li>
        </ul>

        <p>Please contact the organizers if you are unable to view your Order!</p>
    {{/if}}
{{else}}
    <p class="talkRow">You need to sign in to view and edit your profile!</p>
    <a {{action "doLogIn"}} class="button small">Sign in with your email</a>
{{/if}}
