{{#if validationErrors}}
  <div data-alert class="alert-box warning radius">
    <ul>
      {{#each error in validationErrors}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
    <a href="#" class="close">&times;</a>
  </div>
{{/if}}

<form>
    {{#if hasFileReader}}
        <div class="row">
            <div class="large-12 columns">
                {{view Emberfest.FileReaderView}}
            </div>
        </div>
    {{/if}}

  <div class="row">
    <div class="large-12 columns">
      <label>Full Name</label>
      {{input value=user.fullName type="text" class="form-control" placeholder="Enter your full name"}}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Company</label>
      {{input value=user.company type="text" class="form-control" placeholder="Where do you work?"}}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Phone</label>
      {{input value=user.phone type="text" class="form-control" placeholder="Your phone number"}}
    </div>
  </div>

    <div class="row">
        <div class="large-12 columns">
            <label>Bio</label>
            {{textarea value=user.bio class="form-control" placeholder="Please include 5-6 sentences describing you, and what you as a potential speaker bring to Ember Fest"}}
        </div>
    </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Dietary requirements</label>
      {{textarea value=user.dietaryRequirements class="form-control" placeholder="Do you have any allergies? Are you vegetarian? Other dietary requirements?"}}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Country of residence</label>
      {{input value=user.countryOfResidence type="text" class="form-control" placeholder="Where do you live?"}}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <label>Year of birth</label>
      {{input value=user.yearOfBirth type="text" class="form-control" placeholder="When where you born?"}}
    </div>
  </div>

    <div class="row">
        <div class="large-12 columns">
            <label>Twitter</label>
            {{input value=user.twitter type="text" class="form-control" placeholder="Your Twitter username"}}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label>GitHub</label>
            {{input value=user.github type="text" class="form-control" placeholder="Your GitHub username"}}
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label>LinkedIn</label>
            {{input value=user.linkedin type="text" class="form-control" placeholder="Your LinkedIn URL"}}
        </div>
    </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Conference dinner</label>
      {{input type="checkbox" checked=user.attendingDinner}}
      <label>I want to attend the conference dinner!</label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <a {{action "verifyAccountInput"}} class="button small">{{buttonLabel}}</a>
    </div>
  </div>

</form>
