<div class="container">
    <div class="row">
        <div class="col s12">
            <nav>
                <div class="nav-wrapper">
                  {{#link-to "index" class="brand-logo"}}

                  {{/link-to}}

                  {{#material-design/md-sidenav data-activates="mobile-nav"}}
                      <i class="material-icons">menu</i>
                  {{/material-design/md-sidenav}}

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                      <li>{{link-to "Talks" "talks"}}</li>
                      <li>{{link-to "Tickets" "tickets"}}</li>
                      <li>{{link-to "Venue" "venue"}}</li>
                      <li>{{link-to "Partners" "partners"}}</li>
                      <li>{{!link-to "Previous Years" "previousYears"}}</li>

                      {{#if session.isLoggedIn}}
                        <li>{{link-to "My Account" "profile"}}</li>
                          <li><a href="#" {{action "doLogOut"}}>Log Out</a></li>
                      {{else}}
                          <li {{action "doLogIn"}}><a href="#">Login</a></li>
                      {{/if}}
                    </ul>

                    <ul class="side-nav" id="mobile-nav">
                      <li>{{link-to "Talks" "talks"}}</li>
                      <li>{{link-to "Tickets" "tickets"}}</li>
                      <li>{{link-to "Venue" "venue"}}</li>
                      <li>{{link-to "Partners" "partners"}}</li>
                      <li>{{!link-to "Previous Years" "previousYears"}}</li>
                    </ul>

                </div>
            </nav>
        </div>
    </div>
</div>