<footer class="page-footer">
  {{#material-design/md-scroll-top class='waves-effect btn-radius btn-flat btn-floating waves-effect' action='scroll_to_top'}}
      <i class="material-icons">arrow_drop_up</i>
  {{/material-design/md-scroll-top}}
    <div class="container hide-on-small-only">
        <div class="footer-menu center-align">
            <ul>
                <li>{{link-to "Talks" "talks"}}</li>
                <li>{{link-to "Tickets" "tickets"}}</li>
                <li>{{link-to "Venue" "venue"}}</li>
                <li>{{link-to "Partners" "partners"}}</li>
                <li>{{link-to "Years" "previousYears"}}</li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright center-align">
        © EMBERFEST 2016. ALL RIGHTS RESERVED
    </div>
    <img class="responsive-img center-align logo-footer" src="assets/images/logo/ember-fest-gray-logo.png" />

</footer>