<div class="container">
    <article class="topic">
        <div class="row">
            <h2>{{model.talk.title}}</h2>
            <div class="s12 m8 col">
                <p>
                    <span class="label secondary">{{model.talk.talkType}}</span>
                    <span class="author">by {{model.talk.talkSuggestedBy}}</span>
                </p>

              {{#if model.talk.video}}
                  <div>{{markdown-to-html markdown=model.talkvideo}}</div>
              {{/if}}

                <h3>Abstract</h3>
                <p>{{markdown-to-html markdown=model.talk.talkAbstract}}</p>

              {{#if model.talk.outline}}
                  <h3>Outline</h3>
                  <p>{{markdown-to-html markdown=model.talk.outline}}</p>
              {{/if}}

              {{#if model.talk.talkIntendedAudience}}
                  <h3>Who is this talk for?</h3>
                  <p>{{model.talk.talkIntendedAudience}}</p>
              {{/if}}

              {{#if model.talk.participantRequirements}}
                  <h3>Preparation</h3>
                  <p>{{model.talk.participantRequirements}}</p>
              {{/if}}

              {{#if model.talk.topics}}
                  <h3>Topics</h3>
                  <p>{{model.talk.topics}}</p>
              {{/if}}
            </div>
            <div class="s12 m4 col greyBox">
              {{#if model.talk.talkByPhoto}}
                  <div class="text-center">
                      <img src="{{model.talk.photoUrl}}" class="talkPhoto"/>
                  </div>
              {{/if}}
                <h2>{{model.talk.talkSuggestedBy}}</h2>
                <p>{{markdown-to-html markdown=model.talk.talkByBio}}</p>
                <div class="talkSoMe">
                  {{#if model.talk.twitterUrl}}
                      <a href="{{model.talk.twitterUrl}}"><img src="/images/twitter_blue.png"/></a>
                  {{/if}}
                  {{#if model.talk.linkedInUrl}}
                      <a href="{{model.talk.linkedInUrl}}"><img src="/images/linkedin.png"/></a>
                  {{/if}}
                  {{#if model.talk.githubUrl}}
                      <a href="{{model.talk.githubUrl}}"><img src="/images/github.png"/></a>
                  {{/if}}
                </div>
            </div>
        </div>
      {{#link-to "talks" class="small button"}}
          &#8592; Back to talks
      {{/link-to}}
    </article>
</div>