<h2>{{id}}</h2>
{{textarea value=prettyPrintedValue classNames="keyTextarea"}}

{{#if isDirty}}
    <div class="row">
        <div class="small-12 large-6 columns">
            <button class="button success" style="width: 100%" {{action "saveKey" this}}>Save</button>
        </div>
        <div class="small-12 large-6 columns">
            <button class="button secondary" style="width: 100%" {{action "resetKey" this}}>Reset</button>
        </div>
    </div>
{{/if}}

<button style="width: 100%;" {{action "deleteKey" this}}>Delete</button>
