<div class="{{classNames}}">
  {{#if icon}}
    <i class="material-icons prefix">{{icon}}</i>
  {{/if}}

  {{input value=inputValue type="text" name=name class="validate"}}

    <label for="{{elementId}}">{{inputTitle}}</label>
</div>