{{#if talk.talkByLoggedInUser}}
    <h4>Update your talk for Ember Fest 2016!</h4>
    {{#if validationErrors}}
        <div id="registerError" class="card-panel red lighten-2">
            <ul>
              {{#each validationErrors as |error|}}
                  <li>{{error}}</li>
              {{/each}}
            </ul>
        </div>
    {{/if}}

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="subject" inputValue=talk.title inputTitle="Your Talk Title"}}
    </div>

    <div class="row">
      {{material-design/md-textarea classNames="input-field col s12" icon="comment" inputValue=talk.talkAbstract inputTitle="Your Talk Abstract - What is your talk about?"}}
    </div>

    <div class="row">
      {{material-design/md-textarea classNames="input-field col s12" icon="speaker_notes" inputValue=talk.outline inputTitle="Briefly outline the contents of your talk"}}
    </div>

    <div class="row">
      {{material-design/md-textarea classNames="input-field col s12" icon="supervisor_account" inputValue=talk.talkIntendedAudience inputTitle="Briefly describe the intended audience for your talk"}}
    </div>

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">av_timer</i>
            <input disabled value="Talks for 2016 will be 45 minutes long" id="talkTypeInput" type="text"
                   class="validate">
        </div>
    </div>

    <div class="row">
      {{material-design/md-input classNames="input-field col s12" icon="turned_in" inputValue=talk.topics inputTitle="Which topics will your talk cover?"}}
    </div>

    <div class="row">
        <div class="col s12">
            <a {{action "verifyTalkInput"}} class="waves-effect btn-radius btn-flat">Update talk</a>
        </div>
    </div>
{{else}}
    <h2>You cannot edit a talk you didn't submit!</h2>
    <ul>
        <li>Try to log in using the account that submitted the talk</li>
    </ul>

    <p>Please contact the organizers if you are unable to view your Order!</p>
{{/if}}
