<h2>Purchase Tickets!</h2>

<p>Join us for the second annual Ember Fest, in sunny Barcelona! We aim to gather 160 of the top developers from the Ember.js community in what will undoubtedly be
    the Ember event to attend in 2014! August 26th and 27 will offer pre-conference workshops, while August 28th and 29th will offer great talks from experienced
    Ember.js developers! parallel to the workshops on August 27th, we will also host an Ember.js hackathon. We hope to see you there!</p>

<p>Please take the time to read Ember Fests code of conduct, below.</p>

{{#if controller.model.length}}
    <div class="row">
        <div class="small-12 large-8 columns">
            <h2>Tickets</h2>

            <table>
                <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th width="75">Price</th>
                    <th width="170">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each ticketType in controller}}
                    <tr>
                        <td>
                            <p class="title">{{ticketType.name}}</p>
                            {{ticketType.description}}
                        </td>
                        <td>&euro;{{ticketType.price}}</td>
                        {{#if ticketType.saleStarted}}
                            {{#if ticketType.ticketsAvailable}}
                            <td>
                                {{#if controllers.user.isLoggedIn}}
                                    <button class="button small" {{action "addTicketTypeToBasket" ticketType}}>Add to Cart</button></td>
                                {{else}}
                                    <p class="talkRow">You need to <span {{action "doLogIn"}} >sign in</span> to purchase tickets!</p>
                                {{/if}}
                            {{else}}
                                <td><button class="button small disabled">Sold Out</button></td>
                            {{/if}}
                        {{else}}
                            <td>Tickets are available from {{readable-date ticketType.availableFrom}}</td>
                        {{/if}}

                    </tr>
                {{/each}}
            </table>

            <p>Tickets are refundable until July 26th, after which tickets can only be transferred. <a href="mailto:mail@emberfest.eu">Contact us</a> if you have any questions!</p>
        </div>

        <div class="small-12 large-4 columns">
            <h2>Shopping Cart</h2>

            <table style="width: 100%;">
                <thead>
                <tr>
                    <th>Ticket Name</th>
                    <th>Action</th>
                </tr>
                </thead>


                <tbody>

                    {{#each basketTicket in basket}}
                        <tr>
                            <td>{{basketTicket.name}}</td>
                            <td><button class="button secondary small" {{action "removeTicketFromBasket" basketTicket}}>Remove</button></td>
                        </tr>
                    {{/each}}

                    <tr>
                        <td>{{input type="text" class="tiny" value=controller.couponCode placeholder="Your Coupon Code"}}</td>
                        <td>
                            <button class="button secondary tiny" style="width: 100%;" {{action "addCouponCode"}}>Apply</button>
                        </td>
                    </tr>

                    {{#if controller.couponCode}}
                        <tr>
                            <td>Coupon Discount Amount: </td>
                            <td>&euro;{{controller.ticketDiscountAmount}}</td>
                        </tr>
                    {{/if}}

                    <tr><td colspan="2">
                        {{#if controller.numTickets}}
                            <div class="text-right" style="width: 100%">
                                <form action="https://secure.quickpay.dk/form/" method="post">
                                    <input type="hidden" name="protocol" value="7" />
                                    <input type="hidden" name="msgtype" value="authorize" />
                                    <input type="hidden" name="merchant" value="99839257" />
                                    <input type="hidden" name="language" value="en" />
                                    <input type="hidden" name="ordernumber" {{bind-attr value=controller.orderNumber}} />
                                    <input type="hidden" name="amount" {{bind-attr value=controller.ticketSubtotal}} />
                                    <input type="hidden" name="currency" value="EUR" />
                                    <input type="hidden" name="continueurl" {{bind-attr value=controller.continueUrl}} />
                                    <input type="hidden" name="cancelurl" {{bind-attr value=controller.cancelUrl}} />
                                    <input type="hidden" name="callbackurl" {{bind-attr value=controller.callbackUrl}} />
                                    {{#if controller.testmode}}
                                        <input type="hidden" name="testmode" {{bind-attr value=controller.testmode}} />
                                    {{/if}}
                                    <input type="hidden" name="autocapture" value="0" />
                                    <input type="hidden" name="cardtypelock" value="" />
                                    <input type="hidden" name="splitpayment" value="1" />
                                    <input type="hidden" name="md5check" {{bind-attr value=controller.ticketsMd5}} />
                                    <button class="button small" style="width: 100%;">Purchase {{controller.numTickets}} Tickets for {{controller.ticketSubtotalEur}} &#x2771;</button>
                                </form>
                            </div>
                        {{/if}}
                    </td></tr>
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    <p class="talkRow">We are working hard on finalizing the tickets!</p>
{{/if}}

{{markdown controller.codeOfConduct.content.content}}