<h2>Purchase Tickets!</h2>

<p>Join us for the third annual Ember Fest in Budapest, Hungary! Ember Fest will gather 150 of the top developers from the Ember.js community
    in what will undoubtedly be the Ember event to attend in 2016! The conference will be a two-day event from October 27th to October 28th,
    preceeded with a one-day Ember.js training and Hackathon on October 26th.
    We hope to see you there!</p>

<p>Please take the time to read Ember Fest's code of conduct, below.</p>

<p><span style="font-weight:900;">Your ticket includes:</span>

    <ul>
        <li>2 Days Conference Pass</li>
        <li>Breaks including coffee and light refreshments</li>
        <li>Buffet lunch for both conference days</li>
        <li>Conference dinner cruise on the danube on October 28th (7PM-9PM)</li>
    </ul>
</p>
<p><span style="font-weight:900;">We are also offering accommodation options at the venue. The accommdation ticket includes:</span>

    <ul>
        <li>2 or 3 Days accommodation at the conference hotel</li>
        <li>Single standard bedroom</li>
        <li>Breakfast</li>
    </ul>
</p>

<h3>Tickets sales will close on August 30th!</h3>
{{#if controller.model.length}}
    <div class="row">
        <div class="small-12 large-8 columns">
            <h2>Tickets</h2>

            <table>
                <thead>
                <tr>
                    <th>Ticket Type</th>
                    <th width="75">Price</th>
                    <th width="170">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {{#each ticketType in controller}}
                    <tr>
                        <td>
                            <p class="title">{{ticketType.name}}</p>
                            <p class="ticket-description">{{ticketType.description}}</p>
                        </td>
                        <td>&euro; {{ticketType.price}}</td>
                        {{#if ticketType.saleStarted}}
                            {{#if ticketType.ticketsAvailable}}
                            <td>
                                {{#if controllers.user.isLoggedIn}}
                                    <button class="button small" {{action "addTicketTypeToBasket" ticketType}}>Add to Cart</button></td>
                                {{else}}
                                    <p class="talkRow">You need to <span {{action "doLogIn"}} >sign in</span> to purchase tickets!</p>
                                {{/if}}
                            {{else}}
                                <td><button class="button small disabled">Sold Out</button></td>
                            {{/if}}
                        {{else}}
                            <td>Tickets are available from {{readable-date ticketType.availableFrom}}</td>
                        {{/if}}

                    </tr>
                {{/each}}
            </table>

            <p>Tickets are refundable until August 30th, after which tickets can only be transferred. <a href="mailto:mail@emberfest.eu">Contact us</a> if you have any questions!</p>
        </div>

        <div class="small-12 large-4 columns">
            <h2>Shopping Cart</h2>

            <table style="width: 100%;">
                <thead>
                <tr>
                    <th>Ticket Name</th>
                    <th>Action</th>
                </tr>
                </thead>


                <tbody>

                    {{#each basketTicket in basket}}
                        <tr>
                            <td>{{basketTicket.name}}</td>
                            <td><button class="button secondary small" {{action "removeTicketFromBasket" basketTicket}}>Remove</button></td>
                        </tr>
                    {{/each}}

                    <tr>
                        <td>{{input type="text" class="tiny" value=controller.couponCode placeholder="Your Coupon Code"}}</td>
                        <td>
                            <button class="button secondary tiny" style="width: 100%;" {{action "addCouponCode"}}>Apply</button>
                        </td>
                    </tr>

                    {{#if controller.couponCode}}
                        <tr>
                            <td>Coupon Discount Amount: </td>
                            <td>&euro; {{controller.ticketDiscountAmount}}</td>
                        </tr>
                    {{/if}}

                    <tr><td colspan="2">
                        {{#if controller.numTickets}}
                            <div class="text-right" style="width: 100%">
                                <button class="button small" style="width: 100%;" {{action "clickPurchase"}}>Purchase {{controller.numTickets}} Tickets for &euro; {{controller.ticketSubtotalEur}} &#x2771;</button>
                            </div>
                        {{/if}}
                    </td></tr>
                </tbody>
            </table>
        </div>
    </div>
{{else}}
    <p class="talkRow">We are working hard on finalizing the tickets!</p>
{{/if}}

{{markdown controller.codeOfConduct.content.content}}