<div class="{{classNames}}">
  {{#if icon}}
      <i class="material-icons prefix">{{icon}}</i>
  {{/if}}
  {{textarea value=inputValue class="materialize-textarea inputTextarea"}}
    <label for="{{elementId}}">{{inputTitle}}</label>
</div>