<header id="header" class="fest-header">
    <div class="page-content">
        {{#link-to "index"}}
            <img class="logo" src="/images/logo.png"/>
        {{/link-to}}

            <ul id="menu">
                {{link-to "Talks" "talks" tagName="li"}}
                {{link-to "Tickets" "tickets" tagName="li"}}
                {{link-to "Venue" "venue" tagName="li"}}
                {{link-to "Partners" "partners" tagName="li"}}
                {{link-to "Previous Years" "previousYears" tagName="li"}}

                {{#if controllers.user.isLoggedIn}}
                    {{link-to "My Account" "profile" tagName="li"}}
                    <li {{action "doLogOut"}}>Log Out</li>
                {{else}}
                    <li {{action "doLogIn"}}>Login</li>
                {{/if}}
            </ul>

        <button id="burgerMenuButton" class="burger-hidden cmn-toggle-switch cmn-toggle-switch__rot" {{action "toggleMenu"}}>
            <span>toggle menu</span>
        </button>
    </div>
</header>

{{outlet}}



<footer class="partner-area">
    <div class="page-content">
        <h1>Partners</h1>
        <div class="row">
            <div class="small-12 large-4 columns">
                {{rollover-image colorImage="/uploads/partner_hs.png" greyImage="/uploads/partner_hs_grey.png" url="http://haagen-software.no"}}
            </div>
            <div class="small-12 large-4 columns">

            </div>
            <div class="small-12 large-4 columns">

            </div>
        </div>
    </div>
</footer>