{{#each scheduleDay in controller}}
    <h2>{{scheduleDay.title}}</h2>


    <div style="float: none;">
        {{#each track in scheduleDay.tracks}}
            <table {{bind-attr class=scheduleDay.tableStyle}}>
                <tr>
                    <th colspan="2">{{track.title}}</th>
                </tr>

                <tr>
                    <th>Timeslot</th>
                    <th>Title</th>
                </tr>

                {{#each event in track.events}}
                    <tr>
                        <td>{{event.timeslot}}</td>
                        <td>

                            {{#if event.talk}}
                                {{#link-to "talks.talk" event.talk}}
                                    {{event.talk.title}}
                                {{/link-to}}
                                <div style="font-weight: 900; width: 100%; text-align: right;">{{event.talk.talkSuggestedBy}}</div>
                            {{else}}
                                <div style="font-weight: 900; width: 100%; text-align: center;">{{event.title}}</div>
                            {{/if}}

                        </td>
                    </tr>
                {{/each}}

            </table>
        {{/each}}
        <span class="clear"></span>
    </div>
{{/each}}