<div class="container">
	{{partial "application/header"}}
</div>
<section id="slider" class="slider">
	<div class="container">
		<div class="row">
			<div class="slider-content">
				<div class="slider-header">
					<h3>Ember Fest 2016. Mid-to-late October!</h3><h4>We're coming back this year!</h4>
				</div>
				<div class="slider-divider"></div>
				<h5 class="slider-order-ticket">{SuperEarly Bird Ticket Sale is open}</h5>
				<div class="slider-order-actions">
					<a class="btn">GET YOUR TICKET</a>
					<a class="btn">JOIN THE MAILINGLIST<i class="material-icons right">add</i></a>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="container">
	<div class="row">		
		<div class="col s12 m10 offset-m1">
			<section id="note" class="note">
				<h3>Ember Fest 2016. Emberinos rejoice!</h3>
				<p>Ember Fest is coming back in 2016! Ember Fest will be a different conference with a high speaker-to-attendee ratio. Great talks, fun adventure and Ember.js to the core!</p>
			</section>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">		
		<div class="col s12 m10 offset-m1">
			<section id="speakers" class="speakers">
				<h3 class="center-align">Featuring talks</h3>
				<div class="speakers-elements">
					<!--Single Speaker -->
					<div class="row">
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-1.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-2.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-3.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-4.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-5.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-6.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-7.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>
						<div class="col m3">
							<a href="#" class="speaker center-align">
								<img class="responsive-img" src="assets/images/speakers/speakers-8.jpg" />
								<h6>Jon Doing</h6>
							</a>
						</div>						
					</div>
					<div class="center-align">
						<a class="btn btn-speakers">see all speakers</a>
					</div>
					<!--Single Speaker :END -->
				</div>
			</section>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		{{#material-design/md-tabs class='sessions'}}
			<li class="tab col s4">
				<a href="#activity-show-all" class="active" {{action 'tabSelected' 'all' on='click'}}>
					<h5>Pre-Conf Workshop</h5>
					<h5>19 October</h5>
				</a>
			</li>
			
			<li class="tab col s4">
				<a href="#activity-show-bookmarks" {{action 'tabSelected' 'bookmark' on='click'}}>
					<h5>Day 1</h5>
					<h5>20 October</h5>
				</a>
			</li>
			<li class="tab col s4">
				<a href="#activity-show-snapshots" {{action 'tabSelected' 'image' on='click'}}>
					<h5>Day 2</h5>
					<h5>21 October</h5>
				</a>
			</li>
		{{/material-design/md-tabs}}
		<div id="activity-show-all">
			<div class="session-content">
				<div class="title">
					<div class="col s12 m9 offset-m3">
						<h3>Pre-Conf Workshop</h3>
					</div>
					<div class='clearfix'></div>
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class=" col s12 m6">
						<a href="#"><h5 class="break">REGISTRATION</h5></a>						
					</div>	
					<div class='clearfix'></div>				
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class="col s12 m6">
						<a href="#"><h5>Ember Fanky x making things happen go go alle alle</h5></a>
						<p>Rocky Martin, Lorem van Ipsum</p>
					</div>					
					<div class="col s12 m3">
						<a href="#" class="center-align">
							<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-8.jpg" />
							<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-1.jpg" />							
						</a>
					</div>
					<div class='clearfix'></div>
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class=" col s12 m6">
						<a href="#"><h5 class="break">Break</h5></a>						
					</div>	
					<div class='clearfix'></div>				
				</div>				
			</div>
		</div>
		<div id="activity-show-bookmarks">
			<div class="session-content">
				<div class="title">
					<div class="col s12 m9 offset-m3">
						<h3>Day 2</h3>
					</div>
					<div class='clearfix'></div>
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class=" col s12 m6">
						<a href="#"><h5 class="break">REGISTRATION</h5></a>						
					</div>	
					<div class='clearfix'></div>				
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class="col s12 m6">
						<a href="#"><h5>Ember Fanky x making things happen go go alle alle</h5></a>
						<p>Rocky Martin, Lorem van Ipsum</p>
					</div>					
					<div class="col s12 m3">
						<a href="#" class="center-align">
							<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-8.jpg" />
							<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-1.jpg" />							
						</a>
					</div>
					<div class='clearfix'></div>
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class=" col s12 m6">
						<a href="#"><h5 class="break">Break</h5></a>						
					</div>	
					<div class='clearfix'></div>				
				</div>				
			</div>
		</div>
		<div id="activity-show-snapshots">
			<div class="session-content">
				<div class="title">
					<div class="col s12 m9 offset-m3">
						<h3>Day 3</h3>
					</div>
					<div class='clearfix'></div>
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class=" col s12 m6">
						<a href="#"><h5 class="break">REGISTRATION</h5></a>						
					</div>	
					<div class='clearfix'></div>				
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class="col s12 m6">
						<a href="#"><h5>Ember Fanky x making things happen go go alle alle</h5></a>
						<p>Rocky Martin, Lorem van Ipsum</p>
					</div>					
					<div class="col s12 m3">
						<a href="#" class="center-align">
							<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-8.jpg" />
							<img class="responsive-img speakers-small-img" src="assets/images/speakers/speakers-small-1.jpg" />							
						</a>
					</div>
					<div class='clearfix'></div>
				</div>
				<div class="session-item">
					<div class="col s12 m3">
						<h6 class="time right-align">9:00 - 9:30</h6>
					</div>
					<div class=" col s12 m6">
						<a href="#"><h5 class="break">Break</h5></a>						
					</div>	
					<div class='clearfix'></div>				
				</div>				
			</div>
		</div>		
	</div>
</div>

{{partial "application/footer"}}